<!-- <p class="text-center bg-primary text-white">ANGULAR 14 GOOGLE MAP DEMO BY CORE KNOWLEDGE SHARING</p>
<i class="fa-regular fa-thumbs-up"></i>   <i class="fa fa-tachometer" aria-hidden="true"></i> 
<hr />
<button routerLink="/geo">GeoCoder</button>
<button routerLink="/">My Location</button>
<button routerLink="/mapmarker">Map Marker</button>
<button routerLink="/mapinfowindow">Map Info Window</button>
<button routerLink="/mapgroundoverlay">Map ground overlay</button>
<button routerLink="/test">Testing</button>
<button routerLink="/currentl">current location</button>
<button routerLink="/getdistance">Get Distance </button>
<button routerLink="/user">User</button> -->

<div class="d-flex justify-content-center">  <router-outlet></router-outlet></div> 